In [1]:
import pandas as pd

df = pd.read_csv("../data/raw/ab_test_raw.csv")
df.head()

   user_id    variant  converted   revenue  bounced
0        1    control          0   0.00000        1
1        2  treatment          0   0.00000        1
2        3    control          0   0.00000        1
3        4    control          1  69.96121        0
4        5    control          0   0.00000        1

In [2]:
df.shape

(50000, 5)

In [3]:
df["variant"].value_counts()
df["variant"].value_counts(normalize=True)

variant
control      0.50092
treatment    0.49908
Name: proportion, dtype: float64

In [4]:
df["user_id"].duplicated().sum()

np.int64(0)

In [5]:
df.isna().sum()

user_id      0
variant      0
converted    0
revenue      0
bounced      0
dtype: int64

In [6]:
df[["converted", "bounced"]].value_counts()

converted  bounced
0          0          27280
           1          17476
1          0           3178
           1           2066
Name: count, dtype: int64

In [7]:
df["revenue"].describe()

count    50000.000000
mean        10.578562
std         38.906026
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max        755.285157
Name: revenue, dtype: float64

In [8]:
df.to_csv("../data/processed/ab_test_validated.csv", index=False)